@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --primary-color: #4CAF50;
    --hover-color: #367c39;
    --background-color: #121212;
    --text-color: #cccccc;
    --accent-color: #ffffff;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #282828;
    /* Or any color that matches your theme */
}

body {
    background-color: #282828 !important;
    /* Dark theme background */
    color: #cccccc !important;
    /* Lighter text for contrast */
    font-family: 'Roboto', sans-serif;
}

/* Navbar Styles */
.navbar {
    background: linear-gradient(to right, #4CAF50, #6610f2);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    border: none;
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(51, 51, 51, 0.9);
}

.navbar-brand,
.nav-link {
    color: var(--accent-color);
    font-weight: 700;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.nav-link:hover,
.navbar-brand:hover {
    color: #ffffff;
    text-decoration: none;
    border-bottom: 2px solid #ffffff;
}

/* Responsive Navbar */
@media (max-width: 768px) {
    .navbar-toggler {
        border-color: #ffffff;
    }

    .navbar-collapse {
        background-color: rgba(51, 51, 51, 0.9);
    }

    .navbar-nav {
        text-align: center;
    }

    .navbar-nav .nav-item {
        padding: 10px 0;
    }

    .navbar-nav .nav-link {
        margin-left: 0;
        font-size: 1.2rem;
    }

    .post {
        padding: 10px;
        /* Further reduce padding on smaller screens */
    }

    .navbar-nav .nav-link,
    .navbar-brand {
        font-size: 1rem;
        /* Adjust font size for smaller screens */
    }

}

/*Top Row Styles*/
.top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.categories,
.search {
    flex: 1;
    /* Allows both sections to take up equal space */
}

.search {
    text-align: right;
    /* Aligns the search bar to the right */
}


/* Button Styles */
.btn {
    background-color: var(--primary-color);
    color: var(--accent-color);
    font-size: 1rem;
    font-weight: 500;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

/* Scale buttons on hover for a dynamic effect */
.btn:hover {
    transform: scale(1.05);
    background-color: var(--hover-color);
}


/* Post Styles */
.post {
    background-color: #1e1e1e;
    color: var(--text-color);
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 5px;
}

/* Enhance readability of titles and content */
.post-title {
    font-size: 1.5rem;
    /* Larger for impact */
    margin-bottom: 10px;
    /* Tighten spacing */
}

/* Grid */
.main-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

/* Form Styling (Generalized for Newsletter, Contact, etc.) */
input[type="text"],
input[type="email"],
textarea,
.newsletter-form input[type="email"],
.contact-form input[type="text"],
.contact-form textarea {
    padding: 10px;
    border: 1px solid #444444;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
    background-color: #333333;
    color: #ffffff;
}

button[type="submit"],
.newsletter-form button[type="submit"],
.contact-form button[type="submit"] {
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: var(--accent-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover,
.newsletter-form button[type="submit"]:hover,
.contact-form button[type="submit"]:hover {
    background-color: var(--hover-color);
}

/* Additional and Misc Styles */
.error-message,
.success-message {
    margin-top: 5px;
}

.categories,
.search,
.newsletter,
.footer {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    color: var(--text-color);
}

.search {
    margin-top: 30px;
}


.categories h2,
.footer {
    color: var(--accent-color);
}

.categories a,
.search-form button[type="submit"] {
    transition: color 0.3s ease;
}

.categories a:hover,
.search-form button[type="submit"]:hover {
    color: var(--hover-color);
}

.footer {
    background-color: #282828;
    text-align: center;
}